root {
    display: block;
}

.root {
     -fx-background-color: #333333;
}

.label {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #dddddd;
    -fx-effect: dropshadow( gaussian , rgba(34, 34, 34, 0.95), 0,0,0,1 );
}

#welcome-text {
   -fx-font-size: 32px;
   -fx-font-family: "Arial Black";
   -fx-fill: #dddddd;
    -fx-effect: dropshadow( gaussian , rgba(88, 3, 0, 0.95), 0,0,0,1 );
}

#lblInfo {
  -fx-fill: FIREBRICK;
  -fx-font-weight: bold;
  -fx-effect: dropshadow( gaussian , rgba(34, 34, 34, 0.5), 0,0,0,1 );
}

.button {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#222222, #222222);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.button:hover {
    -fx-background-color: linear-gradient(#580300, #580300);
}

.text-field {
    -fx-background-color: rgba(34, 34, 34, 0.5);
    -fx-text-fill: #dddddd;
}